
    <div class="sidebar" id="sidebar">
        <div class="sidebar-inner slimscroll">
            <div id="sidebar-menu" class="sidebar-menu">
                <ul>
                    <li class="menu-title">
                        <span>Main</span>
                    </li>
                    <li>
                        <a href="/Home/Index"><i class="la la-dashboard"></i> <span> Dashboard</span> <span class="menu-arrow"></span></a>
                        
                    </li>
                    
                    <li class="menu-title">
                        <span>Employees</span>
                    </li>
                    <li class="submenu">
                        <a href="#" class="noti-dot"><i class="la la-user"></i> <span> Employees</span> <span class="menu-arrow"></span></a>
                        <ul style="display: none;">
                            <li><a href="/Employees/Index">All Employees</a></li>
                            
                           
                            <li><a href="/leaves/Index">Leaves</a></li>
                            
                            <li><a href="/Attendances/Index">Attendance</a></li>
                          
                            <li><a href="/Departments/Index">Departments</a></li>
                            <li><a href="/Designations/Index">Designations</a></li>
                            
                        </ul>
                    </li>
                    <li>
                        <a href="/Clients/Index"><i class="la la-users"></i> <span>Clients</span></a>
                    </li>
                    <li><a href="/Event/Index">Holidays & Events</a></li>
                    <li>
                        <a href="/Leads/Index"><i class="la la-user-secret"></i> <span>Leads</span></a>
                    </li>
                    <li>
                        <a href="/Tickets/Index"><i class="la la-ticket"></i> <span>Tickets</span></a>
                    </li>
                    
                    <li class="submenu">
                        <a href="#"><i class="la la-money"></i> <span> Payroll </span> <span class="menu-arrow"></span></a>
                        <ul style="display: none;">
                            <li><a href="/EmpSalaries/Index"> Employee Salary </a></li>
                            <li><a href="/Payrolls/Index"> Payroll Items </a></li>
                            
                        </ul>
                    </li>
                    
                    <li class="submenu">
                        <a href="#"><i class="la la-pie-chart"></i> <span> Reports </span> <span class="menu-arrow"></span></a>
                        <ul style="display: none;">
                            <li><a href="/Expenses/Index"> Expense Report </a></li>
                            <li><a href="/Incomes/Index"> Income Report </a></li>
                        </ul>
                    </li>
                    
                   
                    
                    
                    
                   
                    <li><a href="/Terminations/Index"><i class="la la-times-circle"></i> <span>Termination</span></a></li>
                    <li class="menu-title">
                        <span>Administration</span>
                    </li>
                    <li>
                        <a href="/Assets/Index"><i class="la la-object-ungroup"></i> <span>Assets</span></a>
                    </li>
                   
                    <li>
                        <a href="/Settings/Index"><i class="la la-cog"></i> <span>Settings</span></a>
                    </li>
                   
                </ul>
            </div>
        </div>
    </div>