@model EmpManager.ViewModels.UserListingModels
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>


    @Html.Partial("_Listing")

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">

        </div>
    </div>
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        $('#order-listing').on("click", ".data-btn", function (event) {
         
            event.preventDefault();
               debugger;
            $.ajax({
                url: $(this).attr("data-href"),
                   
            })
                   
                .done(function)
                    (response) {
                    $("#exampleModal .modal-dialog").html(response);
                })
        });
    </script>*@
</body>
</html>


